[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
psycopg2-binary = "*"
marshmallow-sqlalchemy = "*"
flask-bcrypt = "*"
pyjwt = "*"
google-search-results = "*"
flask-cors = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
